<div class="container-fluid border-top mt-3">
    <footer class="container">
      <footer class="row py-5 my-3">
        <div class="col-md-2 col-sm-12">
          <div class="navbar-brand">
            <span>PlutoMen</span>
          </div>
          <p class="text-muted">Copyright © 2023, All rights reserved.</p>
        </div>
  
        <div class="col col-md-2 col-sm-12"></div>
  
        <div class="col-md-2 col-sm-12">
          <h5>Help</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Track Your Order</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">About</a>
            </li>
          </ul>
        </div>
  
        <div class="col-md-2 col-sm-12">
          <h5>Sitemap</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Categories</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Cart</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Orders</a>
            </li>
          </ul>
        </div>
  
        <div class="col-md-2 col-sm-12">
          <h5>Follow Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Facebook</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Instagram</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Twitter</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Pinterest</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted">Youtube</a>
            </li>
          </ul>
        </div>
      </footer>
    </footer>
  </div>
  